.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-logo { 
  margin-bottom: 4rem;
}

.home-buttons {
  .button { 
    margin: 0 1rem;
  }
}